<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.matrix.ProcessMatrixMapper">
	<select id="getMatrixFormComponentByMatrixUuid" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.matrix.ProcessMatrixFormComponentVo">
	select 
	a.`matrix_uuid` AS matrixUuid,
	a.`form_version_uuid` AS formVersionUuid,
	a.`form_attribute_label` AS formAttributeLabel,
	a.`form_attribute_uuid` AS formAttributeUuid,
	b.`version`,
	c.`uuid` AS formUuid,
	c.`name` AS formName
	FROM `process_matrix_form_component` a
	LEFT JOIN form_version b ON b.`uuid` = a.`form_version_uuid`
	LEFT JOIN form c ON c.`uuid` = b.`form_uuid`
	WHERE a.`matrix_uuid` = #{matrixUuid}
	</select>
	
	<select id="getMatrixDispatcherByMatrixUuid" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.matrix.ProcessMatrixDispatcherVo">
	SELECT 
	a.`matrix_uuid` AS matrixUuid,
	a.`dispatcher_name` AS dispatcherName,
	a.`process_uuid` AS processUuid,
	b.`name` AS processName
	FROM `process_matrix_dispatcher` a
	LEFT JOIN `process` b ON b.`uuid` = a.`process_uuid`
	WHERE a.`matrix_uuid` = #{matrixUuid}
	</select>
	
	<insert id="insertMatrixFormComponent" parameterType="codedriver.framework.process.dto.matrix.ProcessMatrixFormComponentVo">
		INSERT INTO `process_matrix_form_component` (
		`form_version_uuid`,
		`matrix_uuid`,
		`form_attribute_uuid`,
		`form_attribute_label`
		) VALUES (
		#{formVersionUuid},
		#{matrixUuid},
		#{formAttributeUuid},
		#{formAttributeLabel}
		)
	</insert>
	
	<insert id="insertMatrixDispatcher" parameterType="codedriver.framework.process.dto.matrix.ProcessMatrixDispatcherVo">
		INSERT INTO `process_matrix_dispatcher` (
		`process_uuid`,
		`matrix_uuid`,
		`dispatcher_name`
		) VALUES (
		#{processUuid},
		#{matrixUuid},
		#{dispatcherName}
		)
	</insert>
</mapper>
