<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.CatalogMapper">
	<select id="getCatalogList" parameterType="codedriver.framework.process.dto.CatalogVo" resultType="codedriver.framework.process.dto.CatalogVo">
	SELECT 
	  `uuid`,
	  `name`,
	  `parent_uuid` AS `parentUuid`,
	  `is_active` AS `isActive`,
	  `icon`,
	  `color`,
	  `desc`,
	  `sort` 
	FROM
	  `catalog`
	 WHERE 1=1
	 <if test="isActive != null">
	 	AND `is_active` = #{isActive}
	 </if>
	 <if test="parentUuid != null">
	 	AND `parent_uuid` = #{parentUuid}
	 </if>
	 ORDER BY `sort`
	</select>
	
	<select id="getCatalogByUuid" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.CatalogVo">
	SELECT 
	  `uuid`,
	  `name`,
	  `parent_uuid` AS `parentUuid`,
	  `is_active` AS `isActive`,
	  `icon`,
	  `color`,
	  `desc`,
	  `sort` 
	FROM
	  `catalog`
	 where `uuid` = #{uuid}
	</select>
	
	<select id="getMaxSortByParentUuid" parameterType="java.lang.String" resultType="int">
	SELECT  IFNULL(MAX(`sort`), 0) FROM `catalog` WHERE `parent_uuid` = #{parentUuid}
	</select>
	
	<select id="checkCatalogIsExists" parameterType="java.lang.String" resultType="int">
	SELECT COUNT(`uuid`) FROM `catalog` where `uuid`=#{uuid}
	</select>
	
	<select id="getHasActiveChannelCatalogUuidList" resultType="java.lang.String">
	SELECT 
	DISTINCT ca.`uuid` 
	FROM catalog ca
	JOIN channel ch ON ch.`parent_uuid`=ca.`uuid` AND ch.`is_active` = 1
	WHERE ca.`is_active` = 1
	</select>
	
	<select id="checkCatalogNameIsRepeat" parameterType="codedriver.framework.process.dto.CatalogVo" resultType="int">
	SELECT COUNT(1) FROM `catalog` where `name`=#{name} AND `uuid`!=#{uuid}
	</select>
	
	<resultMap type="codedriver.framework.process.dto.CatalogVo" id="catalogMap">
		<id column="uuid" property="uuid"/>
		<result column="name" property="name"/>
		<result column="parent_uuid" property="parentUuid"/>
		<result column="sort" property="sort"/>
	</resultMap>
	
	<select id="getCatalogListForTree" parameterType="java.lang.Integer" resultMap="catalogMap">
	SELECT 
	  `uuid`,
	  `name`,
	  `parent_uuid`,
	  `sort`
	FROM `catalog` 
	 <if test="isActive != null">
	 WHERE `is_active` = #{isActive}
	 </if>
	 ORDER BY `parent_uuid`, `sort`
	</select>
	
	<select id="getCatalogAuthorityListByCatalogUuid" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.AuthorityVo">
	SELECT 
	  `catalog_uuid` AS catalogUuid,
	  `user_id` AS userId,
	  `team_uuid` AS teamUuid,
	  `role_name` AS roleName
	FROM `catalog_authority` 
	WHERE `catalog_uuid` = #{catalogUuid}
	</select>
	
	<insert id="replaceCatalog" parameterType="codedriver.framework.process.dto.CatalogVo">
	REPLACE INTO `catalog`(`uuid`, `name`, `parent_uuid`, `is_active`, `icon`, `color`, `desc`, `sort`) 
	VALUES(#{uuid}, #{name}, #{parentUuid}, #{isActive}, #{icon}, #{color}, #{desc}, #{sort})
	</insert>
	
	<insert id="insertCatalogAuthority" parameterType="codedriver.framework.process.dto.AuthorityVo">
	INSERT INTO `catalog_authority` (
	  `catalog_uuid`,
	  `user_id`,
	  `team_uuid`,
	  `role_name`
	) 
	VALUES
	  (
	    #{catalogUuid},
	    #{userId},
	    #{teamUuid},
	    #{roleName}
	  )
	</insert>
	
	<update id="updateCatalogForMove" parameterType="codedriver.framework.process.dto.CatalogVo">
	UPDATE `catalog` SET `parent_uuid` = #{parentUuid}, `sort` = #{sort} WHERE `uuid` = #{uuid}
	</update>

	<update id="updateSortIncrement">
	UPDATE `catalog` SET `sort` = `sort` + 1 
	WHERE `parent_uuid` = #{parentUuid} 
	AND `sort` &gt;= #{fromSort} 
	<if test="toSort != null">
	AND `sort` &lt;= #{toSort}
	</if>
	</update>

	<update id="updateSortDecrement">
	UPDATE `catalog` SET `sort` = `sort` - 1 
	WHERE `parent_uuid` = #{parentUuid} 
	AND `sort` &gt;= #{fromSort} 
	<if test="toSort != null">
	AND `sort` &lt;= #{toSort}
	</if>
	</update>
	
	<delete id="deleteCatalogByUuid" parameterType="java.lang.String">
	DELETE FROM `catalog` WHERE `uuid` = #{uuid}
	</delete>
	
	<delete id="deleteCatalogAuthorityByCatalogUuid" parameterType="java.lang.String">
	DELETE FROM `catalog_authority` WHERE `catalog_uuid` = #{catalogUuid}
	</delete>
</mapper>