<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ChannelMapper">
	<cache type="codedriver.framework.dao.cache.CodeDriverCache" flushInterval="30000" size="100"></cache>
	<select id="searchChannelCount" parameterType="codedriver.framework.process.dto.ChannelVo" resultType="int" useCache="false">
		SELECT
		count(c.`uuid`)
		FROM
		`channel` c
		<if test="isFavorite != 1">
			LEFT
		</if>
		JOIN `channel_user` cu ON cu.`channel_uuid` = c.`uuid` AND cu.`user_uuid` = #{userUuid}
		WHERE 1=1
		<if test="authorizedUuidList != null and authorizedUuidList.size() > 0">
			AND c.`uuid` IN
			<foreach collection="authorizedUuidList" item="authorizedUuid" open="(" separator="," close=")">
				#{authorizedUuid}
			</foreach>
		</if>
		<if test="parentUuid != null">
			AND c.`parent_uuid` = #{parentUuid}
		</if>
		<if test="keyword != null and keyword != ''">
			AND c.`name` LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="isActive != null">
			AND c.`is_active` = #{isActive}
		</if>
		<if test="support == 'mobile'">
			AND c.`support` != 'pc'
		</if>
		<if test="support == 'pc'">
			AND c.`support` != 'mobile'
		</if>
	</select>

	<resultMap type="codedriver.framework.process.dto.ChannelVo" id="channelMap">
		<id column="uuid" property="uuid" />
		<result column="name" property="name" />
		<result column="parent_uuid" property="parentUuid" />
		<result column="is_active" property="isActive" />
		<result column="icon" property="icon" />
		<result column="color" property="color" />
		<result column="desc" property="desc" />
		<result column="channel_type_uuid" property="channelTypeUuid" />
		<result column="isFavorite" property="isFavorite" />
		<result column="sort" property="sort" />
	</resultMap>

	<select id="searchChannelList" parameterType="codedriver.framework.process.dto.ChannelVo" resultMap="channelMap" useCache="false">
		SELECT
		c.`uuid`,
		c.`name`,
		c.`parent_uuid`,
		(SELECT GROUP_CONCAT(NAME  ORDER BY lft) FROM catalog  WHERE lft &lt;= (SELECT lft FROM `catalog` WHERE UUID = c.`parent_uuid`) AND rht >= (SELECT rht FROM `catalog` WHERE UUID = c.`parent_uuid`)) AS parentNames,
		(SELECT GROUP_CONCAT(`uuid`  ORDER BY lft) FROM catalog  WHERE lft &lt;= (SELECT lft FROM `catalog` WHERE UUID = c.`parent_uuid`) AND rht >= (SELECT rht FROM `catalog` WHERE UUID = c.`parent_uuid`)) AS parentUuids,
		c.`is_active`,
		c.`icon`,
		c.`color`,
		c.`desc`,
		c.`channel_type_uuid`,
		CASE WHEN cu.`user_uuid` IS NULL THEN 0 ELSE 1 END AS `isFavorite`,
		c.`sort`
		FROM
		`channel` c
		<if test="isFavorite != 1">
			LEFT
		</if>
		JOIN `channel_user` cu ON cu.`channel_uuid` = c.`uuid` AND cu.`user_uuid` = #{userUuid}
		WHERE 1=1
		<if test="authorizedUuidList != null and authorizedUuidList.size() > 0">
			AND c.`uuid` IN
			<foreach collection="authorizedUuidList" item="authorizedUuid" open="(" separator="," close=")">
				#{authorizedUuid}
			</foreach>
		</if>
		<if test="parentUuid != null">
			AND c.`parent_uuid` = #{parentUuid}
		</if>
		<if test="keyword != null and keyword != ''">
			AND c.`name` LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="isActive != null">
			AND c.`is_active` = #{isActive}
		</if>
		<if test="support == 'mobile'">
			AND c.`support` != 'pc' 
		</if>
		<if test="support == 'pc'">
			AND c.`support` != 'mobile'
		</if>
		<choose>
			<when test="isFavorite == 1">
				ORDER BY cu.`insert_time` DESC
			</when>
			<otherwise>
				ORDER BY c.`parent_uuid`, c.`sort`
			</otherwise>
		</choose>
		<if test="needPage">
			limit #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="searchChannelListForSelect" parameterType="codedriver.framework.process.dto.ChannelVo" resultType="codedriver.framework.common.dto.ValueTextVo" useCache="false">
		SELECT
		c.`uuid` as `value`,
		c.`name` as `text`
		FROM
		`channel` c
		<if test="isFavorite != 1">
			LEFT
		</if>
		JOIN `channel_user` cu ON cu.`channel_uuid` = c.`uuid` AND cu.`user_uuid` = #{userUuid}
		WHERE 1=1
		<if test="authorizedUuidList != null and authorizedUuidList.size() > 0">
			AND c.`uuid` IN
			<foreach collection="authorizedUuidList" item="authorizedUuid" open="(" separator="," close=")">
				#{authorizedUuid}
			</foreach>
		</if>
		<if test="parentUuid != null">
			AND c.`parent_uuid` = #{parentUuid}
		</if>
		<if test="keyword != null and keyword != ''">
			AND c.`name` LIKE CONCAT('%',#{keyword},'%')
		</if>
		<if test="isActive != null">
			AND c.`is_active` = #{isActive}
		</if>
		<if test="support == 'mobile'">
			AND c.`support` != 'pc'
		</if>
		<if test="support == 'pc'">
			AND c.`support` != 'mobile'
		</if>
		<choose>
			<when test="isFavorite == 1">
				ORDER BY cu.`insert_time` DESC
			</when>
			<otherwise>
				ORDER BY c.`parent_uuid`, c.`sort`
			</otherwise>
		</choose>
		<if test="needPage">
			limit #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="getChannelByUuid" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.ChannelVo" useCache="true">
		SELECT
		c.`uuid`,
		c.`name`,
		c.`parent_uuid` AS parentUuid,
		c.`is_active` AS isActive,
		c.`icon`,
		c.`color`,
		c.`desc`,
		c.`sort`,
		c.`sla`,
		c.`allow_desc` AS allowDesc,
		c.`help`,
		c.`is_active_help` AS isActiveHelp,
		c.`channel_type_uuid` AS channelTypeUuid,
		c.`support`,
		cp.`process_uuid` AS processUuid,
		cw.`worktime_uuid` AS worktimeUuid
		FROM
		`channel` c
		JOIN `channel_process` cp ON cp.channel_uuid = c.uuid
		JOIN `channel_worktime` cw ON cw.channel_uuid = c.uuid
		WHERE `uuid` = #{uuid}
	</select>
	
	<select id="getChannelByName" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.ChannelVo" useCache="false">
		SELECT
		c.`uuid`,
		c.`name`,
		c.`parent_uuid` AS parentUuid,
		c.`is_active` AS isActive,
		c.`icon`,
		c.`color`,
		c.`desc`,
		c.`sort`,
		c.`sla`,
		c.`allow_desc` AS allowDesc,
		c.`help`,
		c.`is_active_help` AS isActiveHelp,
		c.`channel_type_uuid` AS channelTypeUuid
		FROM
		`channel` c
		WHERE c.`name` = #{value}
	</select>

	<select id="getChannelByUuidList" parameterType="java.util.List" resultType="codedriver.framework.process.dto.ChannelVo" useCache="false">
		SELECT
		c.`uuid`,
		c.`name`,
		c.`parent_uuid` AS parentUuid,
		c.`is_active` AS isActive,
		c.`icon`,
		c.`color`,
		c.`desc`,
		c.`sort`,
		c.`sla`,
		c.`allow_desc` AS allowDesc,
		c.`help`,
		c.`is_active_help` AS isActiveHelp,
		c.`channel_type_uuid` AS channelTypeUuid,
		cp.`process_uuid` AS processUuid,
		cw.`worktime_uuid` AS worktimeUuid
		FROM
		`channel` c
		JOIN `channel_process` cp ON cp.channel_uuid = c.uuid
		JOIN `channel_worktime` cw ON cw.channel_uuid = c.uuid
		WHERE `uuid` in
		<foreach collection="channelUuidList" item="channelUuid" open="(" separator="," close=")">
			#{channelUuid}
		</foreach>
	</select>

	<select id="getMaxSortByParentUuid" parameterType="java.lang.String" resultType="int" useCache="false">
		SELECT IFNULL(MAX(`sort`), 0) FROM `channel` WHERE `parent_uuid` = #{parentUuid}
	</select>

	<select id="getChannelPriorityListByChannelUuid" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.ChannelPriorityVo" useCache="false">
		SELECT
		`channel_uuid` AS channelUuid,
		`priority_uuid` AS priorityUuid,
		`is_default` AS isDefault
		FROM `channel_priority`
		WHERE channel_uuid = #{channelUuid}
	</select>

	<select id="checkChannelIsExists" parameterType="java.lang.String" resultType="int" useCache="false">
		SELECT COUNT(`uuid`) FROM `channel` where `uuid`=#{uuid}
	</select>

	<select id="checkChannelNameIsRepeat" parameterType="codedriver.framework.process.dto.ChannelVo" resultType="int" useCache="false">
		SELECT COUNT(1) FROM `channel` where `parent_uuid`=#{parentUuid} AND `name`=#{name} AND `uuid`!=#{uuid}
	</select>

	<resultMap type="codedriver.framework.process.dto.ChannelVo" id="simpleChannelMap">
		<id column="uuid" property="uuid" />
		<result column="name" property="name" />
		<result column="parent_uuid" property="parentUuid" />
		<result column="sort" property="sort" />
		<result column="is_active" property="isActive" />
	</resultMap>
	<select id="getChannelListForTree" parameterType="java.lang.Integer" resultMap="simpleChannelMap" useCache="false">
		SELECT
		c.`uuid`,
		c.`name`,
		c.`parent_uuid`,
		c.`sort`,
		c.`is_active`
		FROM
		`channel` c
		<if test="isActive != null">
			WHERE c.`is_active` = #{isActive}
		</if>
		ORDER BY c.`parent_uuid`, c.`sort`
	</select>

	<select id="getProcessUuidByChannelUuid" parameterType="java.lang.String" resultType="java.lang.String" useCache="false">
		SELECT `process_uuid` FROM `channel_process` WHERE `channel_uuid` = #{channelUuid}
	</select>

	<select id="getChannelAuthorityListByChannelUuid" parameterType="java.lang.String" resultType="codedriver.framework.dto.AuthorityVo" useCache="false">
		SELECT
		`channel_uuid` AS channelUuid,
		`type`,
		`uuid`
		FROM `channel_authority`
		WHERE `channel_uuid` = #{channelUuid}
	</select>

	<select id="searchChannelTypeCount" parameterType="codedriver.framework.process.dto.ChannelTypeVo" resultType="int" useCache="false">
		SELECT
		count(1)
		FROM `channel_type`
		<where>
			<if test="keyword != null and keyword != ''">
				AND `name` LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="isActive != null">
				AND `is_active` = #{isActive}
			</if>
		</where>
	</select>

	<select id="searchChannelTypeList" parameterType="codedriver.framework.process.dto.ChannelTypeVo" resultType="codedriver.framework.process.dto.ChannelTypeVo" useCache="false">
		SELECT
		`uuid`,
		`name`,
		`is_active` AS isActive,
		`icon`,
		`color`,
		`description`,
		`sort`,
		`prefix`,
		`rule`,
		`start_value`,
		`digits`
		FROM `channel_type`
		<where>
			<if test="keyword != null and keyword != ''">
				AND `name` LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="isActive != null">
				AND `is_active` = #{isActive}
			</if>
		</where>
		ORDER BY `sort` desc
		<if test="needPage">
			limit #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="searchChannelTypeListForSelect" parameterType="codedriver.framework.process.dto.ChannelTypeVo" resultType="codedriver.framework.common.dto.ValueTextVo" useCache="false">
		SELECT
		`uuid` as `value`,
		`name` as `text`
		FROM `channel_type`
		<where>
			<if test="keyword != null and keyword != ''">
				AND `name` LIKE CONCAT('%', #{keyword}, '%')
			</if>
			<if test="isActive != null">
				AND `is_active` = #{isActive}
			</if>
		</where>
		ORDER BY `sort` desc
		<if test="needPage">
			limit #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="getChannelTypeByUuid" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.ChannelTypeVo" useCache="true">
		SELECT
		`uuid`,
		`name`,
		`is_active` AS isActive,
		`icon`,
		`color`,
		`description`,
		`sort`,
		`prefix`,
		`rule`,
		`start_value`,
		`digits`
		FROM `channel_type`
		WHERE `uuid` = #{uuid}
	</select>

	<select id="checkChannelTypeIsExists" parameterType="java.lang.String" resultType="int" useCache="false">
		SELECT COUNT(`uuid`) FROM `channel_type` WHERE `uuid` = #{uuid}
	</select>

	<select id="checkChannelTypeNameIsRepeat" parameterType="codedriver.framework.process.dto.ChannelTypeVo" resultType="int" useCache="false">
		SELECT COUNT(1) FROM `channel_type` WHERE `name` = #{name} AND `uuid` != #{uuid}
	</select>

	<select id="getChannelTypeMaxSort" resultType="int" useCache="false">
		SELECT MAX(`sort`) FROM `channel_type` FOR UPDATE
	</select>

	<select id="getAuthorizedChannelUuidList" resultType="java.lang.String" useCache="false">
		SELECT
		DISTINCT `channel_uuid`
		FROM `channel_authority`
		<where>
			<if test="channelUuid != null and channelUuid != ''">
				`channel_uuid` = #{channelUuid} AND (
			</if>
			(type = 'common' AND `uuid` = 'alluser')
			<if test="userUuid != null and userUuid != ''">
				OR (type = 'user' AND `uuid` = #{userUuid})
			</if>
			<if test="teamUuidList != null and teamUuidList.size() > 0">
				OR (type = 'team' AND `uuid` IN
				<foreach collection="teamUuidList" item="teamUuid" open="(" separator="," close=")">
					#{teamUuid}
				</foreach>
				)
			</if>
			<if test="roleUuidList != null and roleUuidList.size() > 0">
				OR (type = 'role' AND `uuid` IN
				<foreach collection="roleUuidList" item="roleUuid" open="(" separator="," close=")">
					#{roleUuid}
				</foreach>
				)
			</if>
			<if test="channelUuid != null and channelUuid != ''">
				)
			</if>
		</where>
	</select>
	
	<select id="getAuthorizedChannelListByParentUuid" resultType="codedriver.framework.process.dto.ChannelVo">
		SELECT 
		distinct
		c.`uuid`,
		c.`name`,
		c.`is_active` AS isActive,
		c.`icon`,
		c.`color`,
		c.`desc`,
		c.`sort`,
		c.`channel_type_uuid` AS channelTypeUuid,
		CASE WHEN cu.`user_uuid` IS NULL THEN 0 ELSE 1 END AS `isFavorite`
		FROM `channel_authority` ca
		JOIN channel c ON ca.channel_uuid = c.uuid
		LEFT JOIN `channel_user` cu ON cu.`channel_uuid` = c.`uuid` 
		<where>
			c.`is_active` =1
			and
			((ca.type = 'common' AND ca.`uuid` = 'alluser')
			<if test="userUuid != null and userUuid != ''">
				OR (ca.type = 'user' AND ca.`uuid` = #{userUuid})
			</if>
			<if test="teamUuidList != null and teamUuidList.size() > 0">
				OR (ca.type = 'team' AND ca.`uuid` IN
				<foreach collection="teamUuidList" item="teamUuid" open="(" separator="," close=")">
					#{teamUuid}
				</foreach>
				)
			</if>
			<if test="roleUuidList != null and roleUuidList.size() > 0">
				OR (ca.type = 'role' AND ca.`uuid` IN
				<foreach collection="roleUuidList" item="roleUuid" open="(" separator="," close=")">
					#{roleUuid}
				</foreach>
				)
			</if>
			)
			<if test="parentUuid != null and parentUuid != ''">
				and c.parent_uuid = #{parentUuid}
			</if>
		</where>
	</select>

	<select id="getAllAncestorNameListByParentUuid" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT a.`name` FROM `catalog` a
		WHERE a.`lft` &lt;= (SELECT b.`lft` FROM `catalog` b WHERE b.`uuid` = #{parentUuid})
		AND a.`uuid` != 0
		ORDER BY a.`lft`
	</select>

	<select id="checkChannelIsFavorite" resultType="int">
	SELECT COUNT(1) FROM `channel_user` WHERE `user_uuid` = #{userUuid} AND `channel_uuid` = #{channelUuid}
	</select>
	
	<select id="checkChannelTypeRelationIsExists" parameterType="java.lang.Long" resultType="int" useCache="false">
	SELECT COUNT(`id`) FROM `channel_type_relation` WHERE `id` = #{id}
	</select>
	
	<select id="checkChannelTypeRelationNameIsRepeat" parameterType="codedriver.framework.process.dto.ChannelTypeRelationVo" resultType="int" useCache="false">
	SELECT COUNT(1) FROM `channel_type_relation` WHERE `name` = #{name} AND `id` != #{id}
	</select>
	
	<select id="getChannelTypeRelationById" parameterType="java.lang.Long" resultType="codedriver.framework.process.dto.ChannelTypeRelationVo" useCache="false">
	SELECT 
	  `id`,
	  `name`,
	  `is_active` AS isActive
	FROM `channel_type_relation` 
	WHERE `id` = #{value}
	</select>

	<select id="getChannelTypeRelationList" parameterType="codedriver.framework.process.dto.ChannelTypeRelationVo" resultType="codedriver.framework.process.dto.ChannelTypeRelationVo" useCache="false">
	SELECT 
	  `id`,
	  `name`,
	  `is_active` AS isActive
	FROM `channel_type_relation` 
	<where>
		<if test="keyword != null and keyword != ''">
		AND `name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="isActive != null">
		AND `is_active` = #{isActive}
		</if>
	</where>
	ORDER BY `id` DESC
	<if test="needPage">
		limit #{startNum}, #{pageSize}
	</if>
	</select>
	
	<select id="getChannelTypeRelationCount" parameterType="codedriver.framework.process.dto.ChannelTypeRelationVo" resultType="int" useCache="false">
	SELECT 
	  COUNT(1)
	FROM `channel_type_relation` 
	<where>
		<if test="keyword != null and keyword != ''">
		AND `name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="isActive != null">
		AND `is_active` = #{isActive}
		</if>
	</where>
	</select>
	
	<select id="getChannelTypeRelationListForSelect" parameterType="codedriver.framework.process.dto.ChannelTypeRelationVo" resultType="codedriver.framework.common.dto.ValueTextVo" useCache="false">
	SELECT 
	  `id` AS value,
	  `name` AS text
	FROM `channel_type_relation` 
	<where>
		<if test="keyword != null and keyword != ''">
		AND `name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="isActive != null">
		AND `is_active` = #{isActive}
		</if>
		<if test="useIdList">
		AND `id` IN
			<foreach collection="idList" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
	</where>
	ORDER BY `id` DESC
	<if test="needPage">
		limit #{startNum}, #{pageSize}
	</if>
	</select>
	
	<select id="getChannelTypeRelationCountForSelect" parameterType="codedriver.framework.process.dto.ChannelTypeRelationVo" resultType="int" useCache="false">
	SELECT 
	  COUNT(1)
	FROM `channel_type_relation` 
	<where>
		<if test="keyword != null and keyword != ''">
		AND `name` LIKE CONCAT('%', #{keyword}, '%')
		</if>
		<if test="isActive != null">
		AND `is_active` = #{isActive}
		</if>
		<if test="useIdList">
		AND `id` IN
			<foreach collection="idList" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
		</if>
	</where>
	</select>
	
	<select id="getChannelTypeRelationSourceListByChannelTypeRelationId" parameterType="java.lang.Long" resultType="java.lang.String" useCache="false">
	SELECT `channel_type_uuid` FROM `channel_type_relation_source` WHERE `channel_type_relation_id` = #{value}
	</select>
	
	<select id="getChannelTypeRelationTargetListByChannelTypeRelationId" parameterType="java.lang.Long" resultType="java.lang.String" useCache="false">
	SELECT `channel_type_uuid` FROM `channel_type_relation_target` WHERE `channel_type_relation_id` = #{value}
	</select>
	
	<select id="getChannelRelationListBySource" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.ChannelRelationVo" useCache="false">
	SELECT 
	  `source`,
	  `channel_type_relation_id` AS channelTypeRelationId,
	  `type`,
	  `target` 
	FROM `channel_relation` 
	WHERE `source` = #{value}
	</select>
	
	<select id="getChannelRelationAuthorityListBySource" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.ChannelRelationVo" useCache="false">
	SELECT 
	  `source`,
	  `channel_type_relation_id` AS channelTypeRelationId,
	  `type`,
	  `uuid` 
	FROM `channel_relation_authority` 
	WHERE `source` = #{value}
	</select>
	
	<select id="getChannelListByChannelTypeUuidList" parameterType="java.lang.String" resultMap="simpleChannelMap" useCache="false">
	SELECT
	`uuid`,
	`name`,
	`parent_uuid`,
	`sort`,
	`is_active`
	FROM `channel` 
	WHERE `channel_type_uuid` IN 
	<foreach collection="list" item="channelTypeUuid" open="(" separator="," close=")">
	#{channelTypeUuid}
	</foreach>
	</select>
	
	<select id="getChannelTypeRelationSourceListByChannelTypeRelationIdList" parameterType="java.lang.Long" resultType="codedriver.framework.process.dto.ChannelTypeRelationChannelVo" useCache="false">
	SELECT 
	  `channel_type_relation_id` AS channelTypeRelationId,
	  `channel_type_uuid` AS channelTypeUuid
	FROM `channel_type_relation_source` 
	WHERE `channel_type_relation_id` IN 
	<foreach collection="list" item="channelTypeRelationId" open="(" separator="," close=")">
	#{channelTypeRelationId}
	</foreach>
	</select>
	
	<select id="getChannelTypeRelationTargetListByChannelTypeRelationIdList" parameterType="java.lang.Long" resultType="codedriver.framework.process.dto.ChannelTypeRelationChannelVo" useCache="false">
	SELECT 
	  `channel_type_relation_id` AS channelTypeRelationId,
	  `channel_type_uuid` AS channelTypeUuid
	FROM `channel_type_relation_target` 
	WHERE `channel_type_relation_id` IN 
	<foreach collection="list" item="channelTypeRelationId" open="(" separator="," close=")">
	#{channelTypeRelationId}
	</foreach>
	</select>
	
	<select id="getChannelTypeRelationIdListBySourceChannelTypeUuid" parameterType="java.lang.String" resultType="java.lang.Long">
	SELECT DISTINCT `channel_type_relation_id` FROM `channel_type_relation_source` WHERE `channel_type_uuid` IN (#{value}, 'all')
	</select>
	
	<select id="getAuthorizedChannelTypeRelationIdListBySourceChannelUuid" resultType="java.lang.Long">
	SELECT 
	DISTINCT `channel_type_relation_id` 
	FROM `channel_relation_authority` 
	WHERE `source` = #{source}
	AND ((`type` = 'common' AND `uuid` = 'alluser')
	<if test="userUuid != null and userUuid != ''">
		OR (`type` = 'user' AND `uuid` = #{userUuid})
	</if>
	<if test="teamUuidList != null and teamUuidList.size() > 0">
		OR (`type` = 'team' AND `uuid` IN
		<foreach collection="teamUuidList" item="teamUuid" open="(" separator="," close=")">
			#{teamUuid}
		</foreach>
		)
	</if>
	<if test="roleUuidList != null and roleUuidList.size() > 0">
		OR (`type` = 'role' AND `uuid` IN
		<foreach collection="roleUuidList" item="roleUuid" open="(" separator="," close=")">
			#{roleUuid}
		</foreach>
		)
	</if>
	)
	</select>
	
	<select id="getChannelRelationTargetList" parameterType="codedriver.framework.process.dto.ChannelRelationVo" resultType="codedriver.framework.process.dto.ChannelRelationVo">
	SELECT 
	  DISTINCT 
	  `type`,
	  `target` 
	FROM `channel_relation` 
	WHERE `source` = #{source}
	<if test="channelTypeRelationId != null">
	AND `channel_type_relation_id` = #{channelTypeRelationId}
	</if>
	</select>
	
	<select id="getChannelUuidListByParentUuidListAndChannelTypeUuidList" resultType="java.lang.String">
	SELECT `uuid` FROM `channel` 
	WHERE `parent_uuid` IN
	<foreach collection="parentUuidList" item="parentUuid" open="(" separator="," close=")">
	#{parentUuid}
	</foreach>
	<if test="channelTypeUuidList != null and channelTypeUuidList.size() > 0">
	AND `channel_type_uuid` IN
	<foreach collection="channelTypeUuidList" item="channelTypeUuid" open="(" separator="," close=")">
	#{channelTypeUuid}
	</foreach>
	</if>
	</select>
	
	<select id="getActiveChannelCountByParentUuidAndChannelTypeUuidList" resultType="int">
	SELECT COUNT(1) FROM (
		SELECT `uuid` FROM `channel` 
		WHERE `is_active` = 1
		AND `parent_uuid` = #{parentUuid}
		<if test="channelTypeUuidList != null and channelTypeUuidList.size() > 0">
			AND `channel_type_uuid` IN 
			<foreach collection="channelTypeUuidList" item="channelTypeUuid" open="(" separator="," close=")">
			#{channelTypeUuid}
			</foreach>
		</if>
		LIMIT 1 
	) a
	</select>
	
	<select id="getChannelTypeRelationReferenceCountListByChannelTypeRelationIdList" parameterType="java.lang.Long" resultType="codedriver.framework.process.dto.ChannelTypeRelationVo">
	SELECT 
		a.`channel_type_relation_id` AS id,
		COUNT(a.`channel_type_relation_id`) AS referenceCount
	FROM (
		SELECT `channel_type_relation_id` FROM `processtask_relation` 
		WHERE `channel_type_relation_id` IN 
		<foreach collection="list" item="channelTypeRelationId" open="(" separator="," close=")">
			#{channelTypeRelationId}
		</foreach>
		UNION ALL
		SELECT `channel_type_relation_id` FROM `processtask_tranfer_report` 
		WHERE `channel_type_relation_id` IN 
		<foreach collection="list" item="channelTypeRelationId" open="(" separator="," close=")">
			#{channelTypeRelationId}
		</foreach>
	) a 
	GROUP BY a.`channel_type_relation_id` 
	</select>

	<select id="checkChannelTypeHasReference" parameterType="java.lang.String" resultType="int" useCache="false">
	select count(1) from (SELECT `uuid` FROM `channel` WHERE `channel_type_uuid` = #{value} limit 1) a
	</select>
	
	<insert id="replaceChannel" parameterType="codedriver.framework.process.dto.ChannelVo">
		REPLACE INTO `channel` (
		`uuid`,
		`name`,
		`parent_uuid`,
		`is_active`,
		`icon`,
		`color`,
		`desc`,
		`sort`,
		`sla`,
		`allow_desc`,
		`help`,
		`is_active_help`,
		`channel_type_uuid`,
		`support`
		)
		VALUES
		(
		#{uuid},
		#{name},
		#{parentUuid},
		#{isActive},
		#{icon},
		#{color},
		#{desc},
		#{sort},
		#{sla},
		#{allowDesc},
		#{help},
		#{isActiveHelp},
		#{channelTypeUuid},
		#{support}
		)
	</insert>

	<insert id="replaceChannelUser">
		REPLACE INTO `channel_user`(`user_uuid`, `channel_uuid`, `insert_time`) VALUES(#{userUuid}, #{channelUuid}, now())
	</insert>

	<insert id="insertChannelPriority">
		INSERT INTO `channel_priority`(`channel_uuid`, `priority_uuid`, `is_default`) VALUES(#{channelUuid}, #{priorityUuid}, #{isDefault})
	</insert>

	<insert id="replaceChannelProcess">
		REPLACE INTO `channel_process`(`channel_uuid`, `process_uuid`) VALUES(#{channelUuid}, #{processUuid})
	</insert>

	<insert id="insertChannelAuthority">
		INSERT INTO `channel_authority` (
		`channel_uuid`,
		`type`,
		`uuid`
		)
		VALUES
		(
		#{channelUuid},
		#{authorityVo.type},
		#{authorityVo.uuid}
		)
	</insert>

	<insert id="replaceChannelWorktime">
		REPLACE INTO `channel_worktime`(`channel_uuid`, `worktime_uuid`) VALUES(#{channelUuid}, #{worktimeUuid})
	</insert>

	<insert id="insertChannelType" parameterType="codedriver.framework.process.dto.ChannelTypeVo">
		INSERT INTO `channel_type` (
		`uuid`,
		`name`,
		`is_active`,
		`icon`,
		`color`,
		`description`,
		`sort`,
		`prefix`,
		`rule`,
		`start_value`,
		`digits`
		)
		VALUES
		(
		#{uuid},
		#{name},
		#{isActive},
		#{icon},
		#{color},
		#{description},
		#{sort},
		#{prefix},
		#{rule},
		#{start_value},
		#{digits}
		)
	</insert>

	<insert id="insertChannelTypeRelation" parameterType="codedriver.framework.process.dto.ChannelTypeRelationVo">
	INSERT INTO `channel_type_relation` (
	  `id`,
	  `name`,
	  `is_active`
	) 
	VALUES
	  (
	    #{id},
	    #{name},
	    #{isActive}
	  )
	</insert>
	
	<insert id="insertChannelTypeRelationSource">
	INSERT INTO `channel_type_relation_source` (
	  `channel_type_relation_id`,
	  `channel_type_uuid`
	) 
	VALUES
	  (
	    #{channelTypeRelationId},
	    #{channelTypeUuid}
	  )
	</insert>
	
	<insert id="insertChannelTypeRelationTarget">
	INSERT INTO `channel_type_relation_target` (
	  `channel_type_relation_id`,
	  `channel_type_uuid`
	) 
	VALUES
	  (
	    #{channelTypeRelationId},
	    #{channelTypeUuid}
	  )
	</insert>
	
	<insert id="insertChannelRelation" parameterType="codedriver.framework.process.dto.ChannelRelationVo">
	INSERT INTO `channel_relation` (
	  `source`,
	  `channel_type_relation_id`,
	  `type`,
	  `target`
	) 
	VALUES
	  (
	    #{source},
	    #{channelTypeRelationId},
	    #{type},
	    #{target}
	  )
	</insert>
	
	<insert id="insertChannelRelationAuthority" parameterType="codedriver.framework.process.dto.ChannelRelationVo">
	INSERT INTO `channel_relation_authority` (
	  `source`,
	  `channel_type_relation_id`,
	  `type`,
	  `uuid`
	) 
	VALUES
	  (
	    #{source},
	    #{channelTypeRelationId},
	    #{type},
	    #{uuid}
	  )
	</insert>
	
	<update id="updateChannelForMove" parameterType="codedriver.framework.process.dto.ChannelVo">
		UPDATE `channel` SET `parent_uuid` = #{parentUuid}, `sort` = #{sort} WHERE `uuid` = #{uuid}
	</update>

	<update id="updateSortIncrement">
		UPDATE `channel` SET `sort` = `sort` + 1
		WHERE `parent_uuid` = #{parentUuid}
		AND `sort` &gt;= #{fromSort}
		<if test="toSort != null">
			AND `sort` &lt;= #{toSort}
		</if>
	</update>

	<update id="updateSortDecrement">
		UPDATE `channel` SET `sort` = `sort` - 1
		WHERE `parent_uuid` = #{parentUuid}
		AND `sort` &gt;= #{fromSort}
		<if test="toSort != null">
			AND `sort` &lt;= #{toSort}
		</if>
	</update>

	<update id="updateChannelTypeByUuid" parameterType="codedriver.framework.process.dto.ChannelTypeVo">
		UPDATE `channel_type`
		SET
		`name` = #{name},
		`is_active` = #{isActive},
		`icon` = #{icon},
		`color` = #{color},
		`description` = #{description},
		`sort` = #{sort},
		`prefix` = #{prefix},
		`rule` = #{rule},
		`start_value` = #{startValue},
		`digits` = #{digits}
		WHERE `uuid` = #{uuid}
	</update>

	<update id="updateChannelTypeRelationById">
	UPDATE `channel_type_relation` 
	SET
	  `name` = #{name},
	  `is_active` = #{isActive}
	WHERE `id` = #{id} 
	</update>
	
	<delete id="deleteChannelUser">
		DELETE FROM `channel_user` WHERE `user_uuid` = #{userUuid} AND `channel_uuid` = #{channelUuid}
	</delete>

	<delete id="deleteChannelByUuid" parameterType="java.lang.String">
		DELETE FROM `channel` WHERE `uuid` = #{uuid}
	</delete>

	<delete id="deleteChannelPriorityByChannelUuid" parameterType="java.lang.String">
		DELETE FROM `channel_priority` WHERE `channel_uuid` = #{channelUuid}
	</delete>

	<delete id="deleteChannelProcessByChannelUuid" parameterType="java.lang.String">
		DELETE FROM `channel_process` WHERE `channel_uuid` = #{channelUuid}
	</delete>

	<delete id="deleteChannelWorktimeByChannelUuid" parameterType="java.lang.String">
		DELETE FROM `channel_worktime` WHERE `channel_uuid` = #{channelUuid}
	</delete>

	<delete id="deleteChannelUserByChannelUuid" parameterType="java.lang.String">
		DELETE FROM `channel_user` WHERE `channel_uuid` = #{channelUuid}
	</delete>

	<delete id="deleteChannelAuthorityByChannelUuid" parameterType="java.lang.String">
		DELETE FROM `channel_authority` WHERE `channel_uuid` = #{channelUuid}
	</delete>

	<delete id="deleteChannelTypeByUuid" parameterType="java.lang.String">
		DELETE FROM `channel_type` WHERE `uuid` = #{uuid}
	</delete>
	
	<delete id="deleteChannelTypeRelationById" parameterType="java.lang.Long">
		DELETE FROM `channel_type_relation` WHERE `id` = #{value}
	</delete>
	
	<delete id="deleteChannelTypeRelationSourceByChannelTypeRelationId" parameterType="java.lang.Long">
		DELETE FROM `channel_type_relation_source` WHERE `channel_type_relation_id` = #{value}
	</delete>

	<delete id="deleteChannelTypeRelationTargetByChannelTypeRelationId" parameterType="java.lang.Long">
		DELETE FROM `channel_type_relation_target` WHERE `channel_type_relation_id` = #{value}
	</delete>
	
	<delete id="deleteChannelRelationBySource" parameterType="java.lang.String">
		DELETE FROM `channel_relation` WHERE `source` = #{value}
	</delete>
	
	<delete id="deleteChannelRelationAuthorityBySource" parameterType="java.lang.String">
		DELETE FROM `channel_relation_authority` WHERE `source` = #{value}
	</delete>
</mapper>
