<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.MatrixDataMapper">
	<select id="getDynamicTableDataCount" parameterType="codedriver.framework.process.dto.ProcessMatrixAttributeVo" resultType="int">
		SELECT
			COUNT(uuid)
		FROM matrix_${matrixUuid}
		<where>
			<if test="keyword != null and keyword != ''">
				<foreach collection="columnList" separator="OR" item="column">
					${column} LIKE CONCAT('%', #{keyword}, '%')
				</foreach>
 			</if>
		</where>
		ORDER BY `id`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id = "getDynamicTableDataCountByUuid" resultType = "int">
		SELECT
			COUNT(`uuid`)
		FROM matrix_${matrixUuid}
		WHERE `uuid` = #{uuid}
	</select>

	<select id="searchDynamicTableData" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="java.util.LinkedHashMap">
		SELECT
		`uuid`,
  		<foreach collection="columnList" separator="," item="column">
			`${column}`
		</foreach>
		FROM matrix_${matrixUuid}
		<where>
			<if test="keyword != null and keyword != ''">
				<foreach collection="columnList" separator="OR" item="column">
					${column} LIKE CONCAT('%', #{keyword}, '%')
				</foreach>
			</if>
		</where>
		ORDER BY `id`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="getDynamicTableDataByColumnList" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="java.util.LinkedHashMap">
		SELECT
		`uuid`,
		<foreach collection="columnList" item="column" separator=",">
			`${column}`
		</foreach>
		FROM `matrix_${matrixUuid}`
		<where>
			<if test="sourceColumnList != null and sourceColumnList.size() > 0">
				<foreach collection="sourceColumnList" item="sourceColumn">
					<choose>
						<when test="sourceColumn.expression == 'equal'">
						AND `${sourceColumn.column}` = #{sourceColumn.value}
						</when>
						<when test="sourceColumn.expression == 'unequal'">
						AND `${sourceColumn.column}` != #{sourceColumn.value}
						</when>
						<when test="sourceColumn.expression == 'like'">
						AND `${sourceColumn.column}` LIKE CONCAT('%', #{sourceColumn.value}, '%')
						</when>
						<when test="sourceColumn.expression == 'greater-than'">
						AND `${sourceColumn.column}` &gt; #{sourceColumn.value}
						</when>
						<when test="sourceColumn.expression == 'less-than'">
						AND `${sourceColumn.column}` &lt; #{sourceColumn.value}
						</when>
						<otherwise>
						AND `${sourceColumn.column}` = #{sourceColumn.value}
						</otherwise>
					</choose>
				</foreach>
			</if>
		</where>
		ORDER BY `id`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>
	
	<select id="getDynamicTableDataByUuidList" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="java.util.LinkedHashMap">
		SELECT
		`uuid`,
		<foreach collection="columnList" item="column" separator=",">
			`${column}`
		</foreach>
		FROM matrix_${matrixUuid}
		<where>
			<if test="uuidList != null and uuidList.size() > 0">
				`uuid` in 
				<foreach collection="uuidList" open="(" close=")" item="uuid" separator=",">
					#{uuid}
				</foreach>
			</if>
		</where>
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>
	
	<select id="getDynamicTableDataByColumnCount" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="int">
		SELECT
		count(id)
		FROM matrix_${matrixUuid}
		<where>
			<if test="sourceColumnList != null and sourceColumnList.size > 0">
				<foreach collection="sourceColumnList" item="sourceColumn">
					AND ${sourceColumn.column} = #{sourceColumn.value}
				</foreach>
			</if>
		</where>
	</select>
	
	<select id="getDynamicTableDataByUuidCount" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="int">
		SELECT
		count(`id`)
		FROM matrix_${matrixUuid}
		<where>
			<if test="uuidList != null and uuidList.size() > 0">
				`uuid` in 
				<foreach collection="uuidList" open="(" close=")" item="uuid" separator=",">
					#{uuid}
				</foreach>
			</if>
		</where>
	</select>
	
	<insert id="insertDynamicTableData">
		INSERT INTO `matrix_${matrixUuid}`
		<foreach collection="columnList" open="(" close=")" item="column" separator=",">
			`${column}`
		</foreach>
		VALUES
		<foreach collection="dataList" open="(" close=")" item="data" separator=",">
			#{data}
		</foreach>
	</insert>

	<insert id="insertDynamicTableData2">
		INSERT INTO matrix_${matrixUuid}
		<foreach collection="rowData" open="(" close=")" item="columnData" separator=",">
			`${columnData.column}`
		</foreach>
		VALUES
		<foreach collection="rowData" open="(" close=")" item="columnData" separator=",">
			#{columnData.value}
		</foreach>
	</insert>

	<update id="updateDynamicTableDataByUuid">
	UPDATE `matrix_${matrixUuid}`
	SET
		<foreach collection="rowData" item="columnData" separator=",">
			`${columnData.column}` = #{columnData.value}
		</foreach>
	WHERE `${uuidColumn.column}` = #{uuidColumn.value}
	</update>
	
	<delete id="deleteDynamicTableDataByUuid">
		DELETE FROM matrix_${matrixUuid} WHERE uuid = #{uuid}
	</delete>
</mapper>