<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.MatrixDataMapper">
	<select id="getDynamicTableDataCount" parameterType="codedriver.framework.process.dto.ProcessMatrixAttributeVo" resultType="int">
		SELECT
			COUNT(uuid)
		FROM matrix_${matrixUuid}
		<where>
			<if test="keyword != null and keyword != ''">
				<foreach collection="columnList" separator="OR" item="column">
					${column} LIKE CONCAT('%', #{keyword}, '%')
				</foreach>
 			</if>
		</where>
		ORDER BY `id`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id = "getDynamicTableDataCountByUuid" resultType = "int">
		SELECT
			COUNT(`uuid`)
		FROM matrix_${matrixUuid}
		WHERE `uuid` = #{uuid}
	</select>

	<select id="searchDynamicTableData" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="java.util.LinkedHashMap">
		SELECT
		`uuid`,
  		<foreach collection="columnList" separator="," item="column">
			`${column}`
		</foreach>
		FROM matrix_${matrixUuid}
		<where>
			<if test="keyword != null and keyword != ''">
				<foreach collection="columnList" separator="OR" item="column">
					${column} LIKE CONCAT('%', #{keyword}, '%')
				</foreach>
			</if>
		</where>
		ORDER BY `id`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>

	<select id="getDynamicTableDataByColumnList" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="java.util.LinkedHashMap">
		SELECT
		`uuid`,
		<foreach collection="columnList" item="column" separator=",">
			`${column}`
		</foreach>
		FROM matrix_${matrixUuid}
		<where>
			<if test="sourceColumnList != null and sourceColumnList.size > 0">
				<foreach collection="sourceColumnList" item="sourceColumn">
					AND ${sourceColumn.column} = #{sourceColumn.value}
				</foreach>
			</if>
		</where>
		ORDER BY `id`
		<if test="needPage == true">
			LIMIT #{startNum}, #{pageSize}
		</if>
	</select>
	
	<select id="getDynamicTableDataByColumnCount" parameterType="codedriver.framework.process.dto.ProcessMatrixDataVo" resultType="int">
		SELECT
		count(id)
		FROM matrix_${matrixUuid}
		<where>
			<if test="sourceColumnList != null and sourceColumnList.size > 0">
				<foreach collection="sourceColumnList" item="sourceColumn">
					AND ${sourceColumn.column} = #{sourceColumn.value}
				</foreach>
			</if>
		</where>
	</select>

	<insert id="insertDynamicTableData">
		INSERT INTO matrix_${matrixUuid}
		<foreach collection="columnList" open="(" close=")" item="column" separator=",">
			${column}
		</foreach>
		VALUES
		<foreach collection="dataList" open="(" close=")" item="data" separator=",">
			#{data}
		</foreach>
	</insert>

	<delete id="deleteDynamicTableDataByUuid">
		DELETE FROM matrix_${matrixUuid} WHERE uuid = #{uuid}
	</delete>
</mapper>