<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.MatrixExternalMapper">
	<select id="getMatrixExternalByMatrixUuid" parameterType="string" resultType="codedriver.framework.process.dto.ProcessMatrixExternalVo">
		SELECT 
		`id`, 
		`matrix_uuid` as `matrixUuid`, 
		`plugin`, 
		`config` 
		FROM `process_matrix_external` 
		WHERE `matrix_uuid` = #{matrixUuid}
	</select>

	<insert id="insertMatrixExternal" parameterType="codedriver.framework.process.dto.ProcessMatrixExternalVo">
		INSERT INTO
		`process_matrix_external`(
			`matrix_uuid`,
			`plugin`,
			`config`
		) VALUES (
			#{matrixUuid},
			#{plugin},
			#{config}
		)

	</insert>

	<update id="updateMatrixExternal" parameterType="codedriver.framework.process.dto.ProcessMatrixExternalVo">
		UPDATE `process_matrix_external` SET
		 `matrix_uuid` = #{matrixUuid}
		 `plugin` = #{plugin},
		 `config` = #{config},
		 WHERE `id` = #{id}
	</update>

	<delete id="deleteMatrixExternalByMatrixUuid" parameterType="String">
		DELETE FROM `process_matrix_external` WHERE `matrix_uuid` = #{matrixUuid}
	</delete>


</mapper>