<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ProcessStepHandlerMapper">
	<select id="getProcessStepHandlerConfig" resultType="codedriver.framework.process.dto.ProcessStepHandlerVo">
		SELECT
		`handler`,
		`config`
		FROM `process_step_handler`
	</select>
	
	<select id="getProcessStepHandlerByHandler" parameterType="java.lang.String" resultType="codedriver.framework.process.dto.ProcessStepHandlerVo">
		SELECT
		`handler`,
		`config`
		FROM `process_step_handler`
		WHERE `handler` = #{handler}
	</select>

	<update id="updateProcessStepHandlerConfig" parameterType="codedriver.framework.process.dto.ProcessStepHandlerVo">
		UPDATE `process_step_handler` SET `config` = #{configStr} WHERE `handler` = #{handler}
	</update>

	<delete id="deleteProcessStepHandlerConfigByHandler" parameterType="string">
		DELETE FROM `process_step_handler` WHERE `handler` = #{value}
	</delete>

	<insert id="insertProcessStepHandlerConfig" parameterType="codedriver.framework.process.dto.ProcessStepHandlerVo">
		INSERT 	INTO `process_step_handler` (
		`handler`,
		`config`
		) VALUES (
		#{handler},
		#{configStr}
		)
	</insert>
</mapper>