<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="codedriver.framework.process.dao.mapper.ProcessTaskStepSubtaskMapper">
	
	<select id="getProcessTaskStepSubtaskById" parameterType="java.lang.Long" resultType="codedriver.framework.process.dto.ProcessTaskStepSubtaskVo">
	SELECT 
	  a.`processtask_id` AS processTaskId,
	  a.`processtask_step_id` AS processTaskStepId,
	  a.`id`,
	  a.`owner`,
	  a.`status`,
	  a.`user_uuid` AS userUuid,
	  (SELECT `user_name` FROM `user` WHERE `uuid` = a.`user_uuid`) AS userName,
	  a.`target_time` AS targetTime,
	  a.`create_time` AS createTime,
	  a.`start_time` AS startTime,
	  a.`end_time` AS endTime,
	  a.`cancel_user` AS cancelUser,
	  a.`cancel_time` AS cancelTime,
	  b.`user_uuid` AS majorUser
	FROM `processtask_step_subtask` a
	JOIN `processtask_step_user` b ON b.`processtask_step_id`=a.`processtask_step_id` AND b.`user_type`='major'
	WHERE a.`id` = #{id}
	</select>
	
	<select id="getProcessTaskStepSubtaskListByProcessTaskStepId" parameterType="java.lang.Long" resultType="codedriver.framework.process.dto.ProcessTaskStepSubtaskVo">
	SELECT 
	  a.`processtask_id` AS processTaskId,
	  a.`processtask_step_id` AS processTaskStepId,
	  a.`id`,
	  a.`owner`,
	  (SELECT `user_name` FROM `user` WHERE `uuid` = `owner`) AS ownerName,
	  (SELECT `user_info` FROM `user` WHERE `uuid` = `owner`) AS ownerInfo,
	  (SELECT `vip_level` FROM `user` WHERE `uuid` = `owner`) AS ownerVipLevel,
	  a.`status`,
	  a.`user_uuid` AS userUuid,
	  (SELECT `user_name` FROM `user` WHERE `uuid` = a.`user_uuid`) AS userName,
	  a.`target_time` AS targetTime,
	  a.`create_time` AS createTime,
	  a.`start_time` AS startTime,
	  a.`end_time` AS endTime,
	  a.`cancel_user` AS cancelUser,
	  a.`cancel_time` AS cancelTime,
	  b.`user_uuid` AS majorUser
	FROM `processtask_step_subtask` a
	JOIN `processtask_step_user` b ON b.`processtask_step_id`=a.`processtask_step_id` AND b.`user_type`='major'
	WHERE a.`processtask_step_id` = #{value}
	</select>
	
	<select id="getProcessTaskStepSubtaskContentBySubtaskId" parameterType="java.lang.Long" resultType="codedriver.framework.process.dto.ProcessTaskStepSubtaskContentVo">
	SELECT 
	  a.`id`,
	  a.`processtask_step_subtask_id` AS processTaskStepSubtaskId,
	  a.`content_hash` AS contentHash,
	  b.`content`,
	  a.`action`,
	  a.`fcd`,
	  a.`fcu`,
	  (SELECT `user_info` from `user` WHERE `uuid` = a.`fcu`) as fcuInfo,
	  c.`user_name` AS fcuName,
	  a.`lcd`,
	  a.`lcu`,
	  (SELECT `user_info` from `user` WHERE `uuid` = a.`lcu`) as lcuInfo
	FROM `processtask_step_subtask_content` a
	JOIN `processtask_content` b on b.`hash` = a.`content_hash`
	LEFT JOIN `user` c ON c.`uuid` = a.`fcu`
	WHERE a.`processtask_step_subtask_id` = #{processTaskStepSubtaskId}
	</select>
	
	<insert id="insertProcessTaskStepSubtask" parameterType="codedriver.framework.process.dto.ProcessTaskStepSubtaskVo">
	<selectKey keyProperty="id" resultType="java.lang.Long" order="AFTER">
			select LAST_INSERT_ID() as id
	</selectKey>
	INSERT INTO `processtask_step_subtask` (
	  `processtask_id`,
	  `processtask_step_id`,
	  `id`,
	  `owner`,
	  `status`,
	  `user_uuid`,
	  `target_time`,
	  `create_time`,
	  `start_time`
	) 
	VALUES
	  (
	    #{processTaskId},
	    #{processTaskStepId},
	    #{id},
	    #{owner},
	    #{status},
	    #{userUuid},
	    #{targetTime},
	    NOW(3),
	    NOW(3)
	  ) 
	</insert>

	<insert id="insertProcessTaskStepSubtaskContent" parameterType="codedriver.framework.process.dto.ProcessTaskStepSubtaskContentVo">
	INSERT INTO `processtask_step_subtask_content` (
	  `processtask_step_subtask_id`,
	  `content_hash`,
	  `action`,
	  `fcd`,
	  `fcu`
	) 
	VALUES
	  (
	    #{processTaskStepSubtaskId},
	    #{contentHash},
	    #{action},
	    NOW(3),
	    #{fcu}
	  ) 
	</insert>
	
	<update id="updateProcessTaskStepSubtaskStatus" parameterType="codedriver.framework.process.dto.ProcessTaskStepSubtaskVo">
	UPDATE 
	  `processtask_step_subtask` 
	SET
  	<if test="status == 'running'">
  		`user_uuid` = #{userUuid},
  		`target_time` = #{targetTime},
  		`start_time` = NOW(3),
  		`end_time` = NULL,
  	</if>
  	<if test="status == 'succeed'">
  		`end_time` = NOW(3),
  	</if>
  	<if test="status == 'canceled'">
  		`cancel_user` = #{cancelUser},
  		`cancel_time` = NOW(3),
  	</if>
	  `status` = #{status}
	WHERE `id` = #{id} 
	</update>

	<update id="updateProcessTaskStepSubtaskContent" parameterType="codedriver.framework.process.dto.ProcessTaskStepSubtaskContentVo">
	UPDATE `processtask_step_subtask_content` 
	SET `content_hash` = #{contentHash},
	  `lcd` = NOW(3),
	  `lcu` = #{lcu}
	<where>
		<if test="id != null">
		AND `id` = #{id}
		</if>
		<if test="processTaskStepSubtaskId != null">
		AND `processtask_step_subtask_id` = #{processTaskStepSubtaskId}
		</if>
		<if test="action != null and action != ''">
		AND `action` = #{action}
		</if>
	</where>
	</update>

</mapper>
